{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Renew: {{ book_instance.book.title }}</h1>
    <p>Borrower: {{ book_instance.borrower }}</p>
    <p {% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>

    <form action="" method="post" class="mt-3">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table">
          {{ form.as_table }}
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
